@model Dominio.Entidades.Usuario

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("RegistroDatos", "Usuario", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

      
        <div class="form-group">
            @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger", @type = "email" })
            </div>
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.Tipos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select data-placeholder="Seleccione los roles" multiple class="chosen-select" name="tipos" id="tipos">
                    @for(int i = 0;i<ViewBag.TipoUsu.Count;i++){
                    <option value="@ViewBag.TipoUsu[i].Id|@ViewBag.TipoUsu[i].Tipo">@ViewBag.TipoUsu[i].Tipo</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

            @if (ViewBag.Mensaje != null)
            {
                <span style="color: darkred; border: 2px solid darkred; padding: 5px;">
                    @ViewBag.Mensaje
                </span>
            }
        </div>
    </div>
    }
    
    <div>
        @Html.ActionLink("Volver", "VistaUsuario")
    </div>
</body>
</html>

<script>
    $(".chosen-select").chosen({
        no_results_text: "No hay resultados"
    })

</script>



