@model IEnumerable<MVC.Models.ModeloSignoVital>

<h1>HACER CLICK EN LA TABLA SOBRE EL SIGNO PARA MODIFICAR (SOLO CARGA SI ES DEL DIA)</h1>
<table class="table table-striped table-hover" id="tblSignos">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdSignoVital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CiFuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CiResidente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresionMaxima)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.PresionMinima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Azucar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oxigeno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pulso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdSignoVital)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CiFuncionario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CiResidente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaRegistro)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.PresionMaxima)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.PresionMinima)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Azucar)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Oxigeno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Temperatura)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pulso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comentario)
    </td>
    
</tr>
}

</table>
